@page
@* 
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div> *@

@section Styles 
{
    <link rel="stylesheet" href="~/css/loto.css" />
    <link rel="stylesheet" href="~/css/arcane-typography.css" />
}

<div id="left-side">
    <div>
        <span>Tên người chơi: </span>
        <input id="name-input" type="text" value="Thông cute" /> 
    </div>
    <div>
        <span>Mã phòng: </span> 
        <input id="room-id-input" type="text" value="room1" /> 
        <button id="room-id-button-join">Vào phòng</button>
        <button id="room-id-button-leave">Rời phòng</button>
    </div>
    <div>
        <span>Trạng thái kết nối với máy chủ: </span> 
        <span id="connection-status"></span>
    </div>
    <div id="host-option">
        <span>Bạn là nhà cái ?</span>
        <input type="checkbox" id="check-is-host" />
        <span> Nhà cái hiện tại: </span>
        <span id="host-name"></span>
    </div>
    <div>
        <span>Trạng thái kết nối với phòng: </span> 
        <span id="room-status"></span>
    </div>
    <div>
        Số người chơi đang tham gia: <span id="player-count"></span>
    </div>
    <div id="discord-link">
        Link Discord: 
        <a target="_blank" href="https://discord.gg/N2Xr2Nzg">https://discord.gg/N2Xr2Nzg</a>
    </div>
    
</div>
<div id="main-side">
    <div>
        <div id="overlay-ready" class="text-arcane text-arcane-1">READY</div>
        <div>Đang đợi tất cả người chơi khác sẵn sàng...</div>
    </div>
    <div>
        <table id="main-table"></table>
    </div>
</div>
<div id="right-side">
    <button id="ready-button">Sẵn sàng</button>
    <button id="stop-button">Dừng game</button>
</div>

@section Scripts 
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/loto.js"></script>
}