@import '/node_modules/normalize.css/normalize.css';

@import 'modules/variables';
@import 'modules/base';

$white-color: #fcf5ed;

body { 
    background-color: $primary-color;
}

:export {
    whiteColor: $white-color;
}