@import '/node_modules/normalize.css/normalize.css';

@import 'modules/variables';
@import 'modules/base';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1113;
    color: white;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#svg-game-container {
    width: 100vw !important;
    height: 100vh !important;
}

#svg-music-note, #svg-music-note-cross {
    cursor: pointer;
}

#svg-frame {
    transform: translateX(-287px);
    transition-property: width, height;
    transition-duration: 0.2s;
}

.input-container {
    position: relative;
}

.input-container > input, svg {
    position: absolute;
}

.input-container > input {
    top: 40px;
    left: 55px;
    outline: none;
    background: none;
    color: white;
    resize: none;
    border: none;
    z-index: 10;
}