<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VanilaJS Playground</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>" />
</head>

<body>
  <a href="https://console.firebase.google.com/project/lotogame-deb16/database/lotogame-deb16-default-rtdb/data">https://console.firebase.google.com/project/lotogame-deb16/database/lotogame-deb16-default-rtdb/data</a>
  <br />
  <button id="create">Create</button>
  <button id="read">Read</button>
  <button id="update">Update</button>
  <button id="delete">Delete</button>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>