@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

:root {
    --main-background-color: #0E1113;
}

.background-color {
    background-color: var(--main-background-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    color: white;
}

#game-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#svg-game {
    width: 100% !important;
    height: 100% !important;
}

#svg-join-button {
    cursor: pointer;
}

#svg-music-note, #svg-music-note-cross {
    cursor: pointer;
}

#loading-container {
    // display: flex;
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#playing-container {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transform: scale(0.1);
    transition-property: opacity, transform;
    transition-duration: .7s;
}

#loto-table-container {
    display: grid;
    width: 100vw;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    z-index: 5;
    margin: 0 auto;
}

#playing-settings {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.playing-table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin-top: 10px;
}

#loading-container-parent{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#loading-container {
    display: grid;
    width: 75vw;
    height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1f);
    position: absolute;
}

#result-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#result-back-button {
    color: #0E1113;
}

#called-number-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    font-size: 42px;
    margin-left: 5px;
}

#called-number-list > div {
    padding: 4px;
    min-width: 65px;
}

#called-number-list > div > div {
    text-align: center;
}

#called-number-list > div:first-child {
    background-color: whitesmoke;
    transition-property: background-color, transform;
    transition-duration: 1s;
    overflow: hidden;
}

#called-number-list > div:first-child > div {
    background-color: transparent;
    transition-duration: 0.5s;
}

#playing-button-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
}

#playing-button-container button {
    margin-top: 5px;
    padding: 0;
}

#called-number-check-container-parent {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#called-number-check-container {
    display: grid;
    width: 75vw;
    height: 75vh;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr;
    background-color: rgb(217, 93, 241);
    border-radius: 5%;
    box-shadow: 3px 3px white; 
    transform: scale(0.1);
    opacity: 0.1;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.25,.58,.84,.01);
}

#called-number-check-list {
    margin: 10px 25px 0 25px;
    font-size: 32px;
}

#playing-buton-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#playing-buton-container button {
    padding: 0 !important;
}

#next-number-button {
    background-color: rgb(19, 151, 85);
}

@keyframes highlight-win-called-number-keyframes {
    0% {
        fill: white;
    }
    100% {
        fill: rgb(210, 252, 25);
    }
}

.highlight-win-called-number {
    animation: highlight-win-called-number-keyframes 1s ease infinite alternate;
}

.button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    margin-top: 1px;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    background-color:#9a4ef1;
    cursor: pointer;
    outline:none;
}
